.Money {
  text-align: right;
  margin: 15px;
}
.Money h1 {
  color: #bdf5ef;
  padding-right: 5px;
  font-size: 50px;
  font-weight: bold;
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent,
    transparent,
    #000c048f
  );
}
.Money h4 {
  margin-right: 10px;
  color: #8dadbd;
}

.Flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.Child {
  width: 390px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(50, 50, 70, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 10px 0px;
}
.Child h2 {
  color: #00374c;
}
.Info {
  color: #ffc107;
  font-style: italic;
}
.InfoP {
  margin-top: -10px;
  font-size: small;
  color: #004444;
  text-align: left;
}
.Child input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.Child input:focus {
  outline: none;
}
.List {
  width: 80%;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 5px;
  color: #00374c;
  text-align: center;
}
.List a {
  text-decoration: none;
  color: #e1f5ff;
}
.List a:hover {
  color: #004444;
}
