.Flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.Child {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(50, 50, 70, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.Child input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.Child input:focus {
  outline: none;
}
.ChildOne {
  width: auto;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(50, 50, 70, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  text-align: left;
}
.Child li {
  list-style: none;
}
h2 {
  color: #00374c;
  text-align: center;
  font-weight: bold;
}
.Card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Li {
  width: 170px;
  background-color: rgba(50, 50, 70, 0.5);
  padding: 10px;
  list-style: none;
  color: #fde7a5;
  font-size: 19px;
  position: relative;
  margin: 10px;
  text-align: center;
  border-radius: 7px;
  box-shadow: 3px 3px 3px #212121;
}
.Shares {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #a6c2ce;
  padding: 1px 13px;
  border-radius: 50%;
  color: #1d3f4e;
  font-weight: bold;
  font-size: 25px;
}
.Card span {
  background-color: #4e829b;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}
.Symbol {
  color: #f3b57a;
  margin: -11px;
}
.Money {
  text-align: right;
  margin: 15px;
}
.Money h1 {
  color: #bdf5ef;
  padding-right: 5px;
  font-size: 50px;
  font-weight: bold;
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent,
    transparent,
    #000c048f
  );
}
.Money h4 {
  margin-right: 10px;
  color: #8dadbd;
}
.Info {
  color: #ffc107;
  font-style: italic;
  text-align: center;
}
@media screen and (max-width: 973px) {
  .ChildOne {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 445px) {
  .Li {
    width: 130px;
  }
}
