.Ul {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}
.Li {
  padding: 15px;
  list-style: none;
  text-decoration: none;
}
.Logo {
  position: absolute;
  margin: 20px;
}
.active {
  text-decoration: none;
  color: red;
}
